.bg-navbar-contact {
    background-color:#563420
}

.bg-navbar-chat {
    background-color:#9c5831
}

.bg-brown {
    background-color:#743f21
}

.white{
    color: #f7f1f1;
}

.chat-bg{
    background-color: #e9a57e;

}
.send-bg{
    background-color: #b4623e;
}

.bg-yellow {
    background-color: #db8e1c;
}
.c-pointer{
cursor: pointer;
text-decoration: none !important
}

.modal-dialog {
    max-width: 416px !important;
}
.triggered :hover {
    cursor: pointer;
    background-color: #e9a57e ;
    color: #613D2B;
    border-color:#613D2B ;
}

.description {
    list-style-type:none;
    text-align: left;
    margin-left: 0px;
}
.waysred {
    background-color: #BD0707;
}
.add-title {
    text-align: left;
}

.formInput{
    border-color: #613D28 !important;
    background-color:#c9bbb3
    
}
.formInput:focus{
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(92, 46, 3, 0.863);
}
.file {
    padding: 0.5 rem 0.35 rem;
    color:#757575;
    background-color: #f7f1f1;
}
.jc-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}

.btn-auth-brown {
    background-color: #613D2B;
    border-color: #613D2B;
    color: whitesmoke;
    border: solid;
    --bs-btn-focus-shadow-rgb: #e9a57e;
    border-radius: 8px;
} 

 .btn-auth-brown:focus {
    outline: #613D28 !important;
    background-color:#613D28 ;
    color: whitesmoke;
    border-color:#e9a57e !important;
}

.btn-auth-brown:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border-color:  #e9a57e !important;
    color:#613D2B;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.btn-light-brown {
    background-color: #e9a57e;
    border-color: none;
    color: #613D2B;
    border: none;
    --bs-btn-focus-shadow-rgb: #e9a57e;

    border-radius: 8px;
}

.btn-light-brown:hover {
    cursor: pointer;
    background-color: #e9a57e;
    border-color:  none!important;
    color:#613D2B;
    border:none;
    border-radius: 8px;
    font-weight: 500;
}

.btn-auth-brown:focus {
    outline: #613D28 !important;
    background-color:#e9a57e ;
    color: #613D28;
    border-color:none !important;

}

.trash-btn:hover {
    cursor: pointer;
}

a:hover{
    color: #613D28 !important;
}

.borderBottom {
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #e9a57e;
}

.vertical-scroll{
    overflow-y: scroll hidden !important; 
    overflow-x: hidden !important;
  }

.chat-bar{
    padding: 10px !important;
    height: calc(100% - 100px);
}
